@import 'variable.scss';
$valid-theme: var(--valid-theme);


@mixin themed() {
  @each $theme, $map in $themes {
    body[data-theme='#{$theme}'] & {
      $theme-map: () !global;
      @each $key, $value in $map {
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @if $valid-theme {
    @return map-get($theme-map, $key);
  }
  @else {
    @return #FFFFFF;
  }
}