$dark_blue:#1C2634;
$gray: #E0E0E0;
$light_gray: #acafb0;
$light_m_gray:#6C7278;
$light_bg_gray: #EDF1F3;
$main_color_dark:#d4733b;
$main_color:#EA7E41;
$main_light_color:#EA7E41;
$main_light_shadow:#ea7f4163;
$main_light_two:#FDEFD9;

$link_blue: #0077FF;
$white: #FFF;
$white_transaprent: #ffffffa4;

$black: #000000;
$low_black: #1A1C1E;

$available: #12B3A8;
$available_soon: #4D81E7;
$reserved: #C65468;
