@import "../../../common/reUseable/variable";
@import "../../../common/reUseable/mixin";
@import "../../../common/reUseable/extend";

.overflow {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    background-color: $light_bg_gray;
    overflow-y:scroll; 
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.overflow::-webkit-scrollbar {
    display: none;
}



.main {
    width: 100%;
    // height: 2000px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    // ---------------- up --------------------------
    &_up {
        display: flex;

        &_search {
            position: relative;
            max-width: 500px;
            width: 100%;
            margin-right: auto;
            padding: 0 10px;
            border-radius: 10px;
            background-color: $white;
            border: 1px solid $gray;
            

            input {
                width: 100%;
                @extend %m;
                padding: 8px 10px 8px 40px;
                background-color: transparent;

                &:focus {
                    outline: none;
                }
            }

            svg {
                width: 16px;
                height: 16px;
                position: absolute;
                top: 50%;
                left: 23px;
                transform: translateY(-50%);
                cursor: pointer;
            }
        }

        &_bag {
            padding: 10px 13px;
            background-color: $white;
            border-radius: 10px;
            border: 1px solid $gray;
            margin-left: 16px;

            &:hover {
                background-color: $main_light_two;

                svg {
                    path {
                        stroke: $main_color;
                    }
                }
            }
        }

        &_notification {
            padding: 10px 13px;
            background-color: $white;
            margin-left: 16px;
            border-radius: 10px;
            border: 1px solid $gray;

            &:hover {
                background-color: $main_light_two;

                svg {
                    path {
                        stroke: $main_color;
                    }
                }
            }
        }
    }
    // ---------------- filter --------------------------

    &_filter {
        width: 100%;
        display: flex;
        justify-content: space-between;
        column-gap: 16px;

        

        &_option {
            width: 100%;
            max-width: 500px;
            min-width: 160px;
            background-color: $white;
            padding: 12px;
            border-radius: 7px;
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            cursor: pointer;
            border: 1px solid $gray;


            &:hover {
                background-color: $main_color !important;

                svg {
                    path {
                        fill: $white !important;
                    }
                }
                
                h4 {
                    color: $white !important;
                }
                p {
                    color: $white !important;
                }
            }

            div {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h4 {
                    @extend %sm_b;
                    color: $black;
                }
                p {
                    @extend %s;
                    color: $light_m_gray;
                }
            }
        }
    }

    // ------------------ products ----------------------------
    &_meals {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: start;
        column-gap: 16px;
        row-gap: 24px;
    }
}