@import "../../../common/reUseable/variable";
@import "../../../common/reUseable/mixin";
@import "../../../common/reUseable/extend";
@import "../../../common/reUseable/theme";

@keyframes searchOpen {
    from {
        transform: translateY(-200%);
        z-index: -9;
        opacity: 0;
        height: 0;
    }
    to {
        transform: translateY(0);
        z-index: 1;
        opacity: 1;
        height: 46px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeTbody {
    0% {
        display: none;
        opacity: 0;
        transform: translateY(20px);
    }
    
    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        display: table-row-group;
        opacity: 1;
        transform: translateY(0);
    }
}

.count {
    min-width: 23px;
    position: absolute;
    top: -7px;
    right: -9px;
    padding: 2px 5px;
    text-align: center;
    border-radius: 50%;
    background-color: $main_color;
    color: $white;
    @extend %s;
    font-weight: 600;
}

.main_down_actions_setting:hover .main_down_actions_setting_down {
    display: flex;
    background-color: $main_light_two;
    border: 1px solid $main_color;
}
.main_down_up_actions_setting_down {
    background-color: $available ;
}


.overflow {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    overflow-y:scroll; 
    scrollbar-width: none;
    -ms-overflow-style: none;

    @include themed() {
        background-color: t(light_bg_gray);
        }
}
.overflow::-webkit-scrollbar {
    display: none;
}

.main {
    width: 100%;
    padding: 20px 2% 2% 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;

    @include mobile {
        padding: 3%;
    }


    &_up {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        animation: fadeIn 0.3s;

        @include mobile {
            flex-direction: column;
            row-gap: 16px;
        }

        &_overview {
            display: flex;
            flex-direction: column;
            animation: fadeIn 0.3s;

            @include mobile {
                width: 100%;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                row-gap: 16px;
            }

            &_head {
                @extend %ls_b;
                @include themed() {
                    color: t(black);
                }
            }

            &_date {
                @extend %sm;
                min-width: 21.609px;

                @include themed() {
                    color: t(light_m_gray);
                }
            }
        }

        &_actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 12px;

            @include mobile {
                width: 100%;
            }

            &_export {
                padding: 7px 20px;
                @extend %btn_main;
                @extend %m;
                display: flex;
                align-items: center;
                column-gap: 10px;
            }

            &_period {
                padding: 7px 20px;
                @extend %btn_main_w;
                box-shadow: unset !important;
                @extend %m;
                display: flex;
                align-items: center;
                column-gap: 10px;
                position: relative;

                &:hover .main_up_actions_period_down {
                    display: flex;
                }
                &:hover .main_up_actions_period_icon {
                    transform: rotate(180deg);
                }

                


                &_text {
                    min-width: 88px;
                    text-align: center;

                    &:hover {
                        color: $main_color;
                    }
                }

                &_icon {
                    transition: all 0.3s;
                    path {
                        @include themed() {
                            stroke: t(black);
                        }
                    }
                }

                &_down {
                    width: calc(100% + 2px);
                    position: absolute;
                    top: 30px;
                    left: -1px;
                    padding: 7px 0px;
                    border-radius: 0 0 10px 10px;
                    z-index: 9;
                    display: none;
                    flex-direction: column;
                    align-items: center;

                    @include themed() {
                        background-color: t(white);
                        border: 1px solid t(gray);
                        border-top: none;
                    }

                    &_option {
                        width: 100%;
                        padding: 0 20px;
                        text-align: center;
                        z-index: 99999;

                        @include themed() {
                            color: t(black);
                        }

                        &:hover {
                            background-color: $main_light_two;
                            @include themed() {
                                color: t(main_color);
                            }
                        }
                    }
                }
            }
        }
    }

    // ------------------ mobile up -------------------------
    &_mobileUp {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        @include desktop {
            display: none;
        }

        &_actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 5px;

            &_menu {
                padding: 12px 13px;
                border-radius: 7px;
                user-select: none;
                cursor: pointer;
                svg {
                    width: 20px;
                    height: 20px;

                    @include themed() {
                        path {
                            stroke: t(black);
                        }
                      }
                }
                @include themed() {
                    border: 1px solid t(gray);
                    background-color: t(white);
                  }
            }
    
            &_right {
                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: 14px;
    
                &_search {
                    padding: 12px;
                    border-radius: 7px;
                    user-select: none;
                    cursor: pointer;

                    @include themed() {
                        border: 1px solid t(gray);
                        background-color: t(white);
                        path {
                            stroke: t(black);
                        }
                      }
                }
    
                &_setting {
                    padding: 12px;
                    border-radius: 7px;
                    user-select: none;
                    cursor: pointer;
                    position: relative;
                    
                    @include themed() {
                        border: 1px solid t(gray);
                        background-color: t(white);
                        path {
                            stroke: t(black);
                        }
                      }
                }
            }
        }

        &_down {
            position: relative;
            transition: all 0.3s;
            animation: searchOpen 0.3s;
            transition: .3s ease-in-out;
            border-radius: 10px;

            @include themed() {
                background-color: t(white);
                border: 1px solid t(gray);
                }
        }
    }
    // ------------------------------------------


    // ------------------ total review -------------------------
    &_total {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 16px;
        animation: fadeIn .5s ease-in-out;


        @include mobile {
            flex-direction: column;
            row-gap: 16px;
        }

        &_option {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px;
            border-radius: 7px;
            border: 1px solid $gray;

            @include themed() {
                border: 1px solid t(gray);
                background-color: t(white);
              }

            &_text {
                display: flex;
                flex-direction: column;
                row-gap: 6px;

                &_up {
                    @extend %sm;
                    @include themed() {
                        color: t(light_m_gray);
                      }
                }

                &_head {
                    @extend %ls_b;
                    @include themed() {
                        color: t(black);
                      }
                }
            }

            &_icon {
                padding: 8px;
                border-radius: 7px;
            }

        }
    }

    &_down {
        width: 100%;
        padding: 18px 24px 24px 24px;
        border-radius: 7px;
        animation: fadeIn .8s ease-in-out;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;

        @include mobile {
            padding-inline: 15px;
        }

        @include themed() {
            border: 1px solid t(gray);
            background-color: t(white);
          }


        &_up {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &_head {
                @extend %ml_b;
                @include themed() {
                    color: t(black);
                  } 
            }

            &_actions {
                display: flex;
                align-content: center;
                column-gap: 12px;

                &_search {
                    position: relative;
                    border-radius: 10px;

                    @include mobile {
                        display: none;
                    }

                    @include themed() {
                        border: 1px solid t(gray);
                      }
                }

                &_delete {
                    padding: 8px 10px;
                    border-radius: 8px;
                    transition: background-color 0.1s ease-in-out;
                    position: relative;
                    cursor: pointer;
        
                    &:hover {
                        background-color: darken(#868686a9, 30%) !important; 
                    }

                    svg {
                        width: 20px;
                        height: 20px;
                    }

                    &_count {
                        position: absolute;
                        width: 16px;
                        height: 15px;
                        color: $black;
                        @extend %ex_s_b;
                        top: 3px;
                        right: 2px;
                        padding: 1px 2px;
                        border-radius: 50%;
                        background-color: $white;
                        text-align: center;
                    }
                }

                &_setting {
                    padding: 8px 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border: 1px solid $gray;
                    border-radius: 10px;
                    cursor: pointer;
                    user-select: none;
                    position: relative;

                    @include themed() {
                        border: 1px solid t(gray);
                        background-color: t(white);
                      }

                    &:hover {
                        div {
                            display: flex;
                        }

                        svg {
                            path {
                                @include themed() {
                                    stroke: t(main_color);
                                }
                            }
                        }
                    }

                    &_icon {
                            path {
                                @include themed() {
                                    stroke: t(black);
                                }
                            }
                    }

                    &_down {
                        width: calc(100% + 2px);
                        padding-top: 10px;
                        position: absolute;         
                        top: 27px;
                        left: -1px;
                        display: none;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border-radius: 0 0 10px 10px;

                        @include themed() {
                            background-color: t(white);
                            border: 1px solid t(gray);
                            border-top: none;
                        }

                        &_btn {
                            width: 100%;
                            background-color: transparent;
                            border-radius: 10px;
                            

                            &:hover {
                                @include themed() {
                                    background-color: t(main_light_two);
                                }   
                            }
                            svg {
                                width: 18px;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
        }




        &_transactions {
            width: 100%;
            background-color: transparent;
            animation: fadeIn 0.5s;

            &_table {
                width: 100%;
                @extend %text_overflow;
                border-radius: 10px;

                tr {

                    th {
                        max-width: 300px;
                        text-align: left;
                        padding: 10px 12px;
                        @extend %sm, %text_overflow;

                        @include themed() {
                            color: t(light_m_gray);
                            background-color: t(table_header);
                        }


                        input[type="checkbox"] {
                            accent-color: $main_color;
                            width: 15px;
                            height: 15px;
                        }

                        @include mobile {
                            padding: 7px 5px;
                        }
                    }

                    td {
                        // max-width: 300px;
                        text-align: left;
                        padding: 7px 12px;
                        @extend %sm, %text_overflow;

                        @include mobile {
                            padding: 7px 5px;
                        }
                    }
                }

                &_head_th_mobileDate {
                    @extend %text_overflow;

                    @include mobile {
                        max-width: 100px !important;
                    }
                }

                &_head_th_desktop {

                    @include mobile {
                        display: none;
                    }
                }
                &_tbody {
                    width: 100%;
                    animation: fadeTbody 0.4s;
                }
            }
        }

        &_pagination {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 10px;
            padding: 10px 0;
            animation: fadeIn 0.5s;
            @extend %sm;
        
            @include mobile {
                flex-direction: column;
                row-gap: 10px;
            }
        
            &_pages {
                height: 28px;
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 5px;
        
                @include mobile {
                    width: 100%;
                    column-gap: 3px;
                }
        
                &_page {
                    min-width: 32px;
                    padding: 2px 5px;
                    display: grid;
                    place-items: center;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all 0.1s;
                    user-select: none;
                    @extend %sm;
        
                    &:hover {
                        // border: 1px solid $gray;
                        // background-color: $main_light_two;
        
                        @include themed() {
                            border: 1px solid transparent;
                            background-color: t(main_light_color);    
                        }
                    }
        
                    @include themed() {
                        color: t(black);
                    }
                }
        
                &_dots {
                    min-width: 32px;
                    height: 100%;
                    padding: 2px 5px;
                    display: grid;
                    place-items: center;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all 0.3s;
                    user-select: none;
                    @extend %sm;

                    @include themed() {
                        color: t(black);
                    }  
        
                    &_hover:hover {
                        border: 1px solid transparent;
                        background-color: $main_light_two;
                    }
                }
        
                &_left {
                    min-width: 32px;
                    height: 100%;
                    padding: 2px 5px 2px 4px;
                    margin: 0 5px;
                    display: grid;
                    place-items: center;
                    border-radius: 5px;
                    border: 1px solid $gray;
                    cursor: pointer;
                    transition: all 0.3s;
                    user-select: none;
        
                    &:hover {
                        background-color: $main_light_color;
                    }
        
                    svg {
                        path {
                            @include themed() {
                                stroke: t(light_m_gray);
                            }
                        }
                    }
        
                    @include mobile {
                        margin-right: auto;
                    }
                }
        
                &_right {
                    min-width: 32px;
                    height: 100%;
                    padding: 2px 4px 2px 5px;
                    margin: 0 5px;
                    display: grid;
                    place-items: center;
                    border-radius: 5px;
                    border: 1px solid $gray;
                    cursor: pointer;
                    transition: all 0.3s;
                    user-select: none;
        
                    &:hover {
                        background-color: $main_light_color;
                    }
        
                    svg {
                        path {
                            @include themed() {
                                stroke: t(light_m_gray);
                            }
                        }
                    }
        
                    @include mobile {
                        margin-left: auto;
                    }
                }
                
            }
        
            &_itemperpage {
        
                display: flex;
                align-items: center;
                column-gap: 10px;
        
                @include mobile {
                    width: 100%;
                    column-gap: 3px;
                    justify-content: space-between;
                }
        
                &_info {
                    @extend %s;
                    @include themed() {
                        color: t(light_m_gray);
                    }
                }
        
                &_action {
                    padding: 2px 7px;
                    border: 1px solid $gray;
                    border-radius: 5px;
        
        
                    &_select {
                        outline: none;
                        border: none;
                        background-color: transparent;
        
                        @include themed() {
                            color: t(black);
                        }
        
                        option {
                            @extend %sm;
                            @include themed() {
                                color: t(black);
                                background-color: t(white);
                            }
                        }
                    }
                }
            }
        }
    }
}