@import "../../../common/reUseable/variable";
@import "../../../common/reUseable/mixin";
@import "../../../common/reUseable/extend";

@keyframes searchOpen {
    from {
        transform: translateY(-200%);
        z-index: -9;
        opacity: 0;
        height: 0;
    }
    to {
        transform: translateY(0);
        z-index: 1;
        opacity: 1;
        height: 46px;
    }
}


// .main_up_search input:focus ~ .main_up_search_estimated,
// .main_up_search_estimated:focus-within {
//   display: block !important;
//   border: 1px solid $main_color;
//   border-top: none;
// }
// .main_up_search_estimated:focus-within {
//     display: block;
//   }

// .main_up_search input:not(:focus) ~ .main_up_search_estimated,
// .main_up_search_estimated:not(:focus-within) {
//   display: none ;
//   border: 1px solid $gray;
//   border-top: none;
// }


.overflow {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    background-color: $light_bg_gray;
    overflow-y:scroll; 
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.overflow::-webkit-scrollbar {
    display: none;
}


.main {
    width: 100%;
    padding: 20px 2% 2% 2%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    transition: all 0.3s linear;

    @include mobile {
        padding: 3% 3% 30% 3%;
    }

    // ---------------- up --------------------------
    &_up {
        display: flex;

        @include mobile {
            display: none;
        }

        &_search {
            position: relative;
            max-width: 500px;
            width: 100%;
            margin-right: auto;
            padding: 0;
            border-radius: 10px;
            background-color: $white;
            border: 1px solid $gray;
            

            // input {
            //     width: 100%;
            //     @extend %m;
            //     padding: 8px 20px 8px 50px;
            //     border-radius: 10px;
            //     background-color: transparent;
            //     z-index: 99;

            //     &:focus {
            //         outline: .5px solid $main_color;
            //     }
            // }

            // svg {
            //     width: 16px;
            //     height: 16px;
            //     position: absolute;
            //     top: 50%;
            //     left: 23px;
            //     transform: translateY(-50%);
            //     cursor: pointer;
            // }

            // &_estimated {
            //     width: calc(100% + 2px);
            //     padding: 2px 25px;
            //     position: absolute;
            //     top: 33px;
            //     left: -1px;
            //     color: $light_m_gray;
            //     background-color: $available;
            //     border-radius: 0 0 10px 10px;
            //     background-color: $white;

            //     &:hover {
            //         display: block !important;
            //     }
            // }
        }

        &_bag {
            padding: 10px 13px;
            background-color: $white;
            border-radius: 10px;
            border: 1px solid $gray;
            margin-left: 16px;

            &:hover {
                background-color: $main_light_two;

                svg {
                    path {
                        stroke: $main_color;
                    }
                }
            }
        }

        &_notification {
            padding: 10px 13px;
            background-color: $white;
            margin-left: 16px;
            border-radius: 10px;
            border: 1px solid $gray;
            z-index: 9991;

            &:hover {
                background-color: $main_light_two;

                svg {
                    path {
                        stroke: $main_color;
                    }
                }
            }
        }
    }

    // ------------------ mobile up -------------------------
    &_mobileUp {
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        @include desktop {
            display: none;
        }

        &_actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 5px;

            &_menu {
                padding: 12px 13px;
                background-color: $white;
                border-radius: 7px;
                border: 1px solid $gray;
                user-select: none;
                cursor: pointer;
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
    
            &_right {
                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: 14px;
    
                &_search {
                    padding: 12px;
                    background-color: $white;
                    border-radius: 7px;
                    border: 1px solid $gray;
                    user-select: none;
                    cursor: pointer;
                }
    
                &_setting {
                    padding: 12px;
                    background-color: $white;
                    border-radius: 7px;
                    border: 1px solid $gray;
                    user-select: none;
                    cursor: pointer;
                }
            }
        }

        &_down {
            position: relative;
            transition: all 0.3s;
            animation: searchOpen 0.3s;
            transition: .3s ease-in-out;
            background-color: $white;
            border-radius: 10px;

            // &_input {
            //     width: 100%;
            //     padding: 10px 15px 10px 40px;
            //     border-radius: 7px;
            //     border: 1px solid $gray;
            //     @extend %m;
            // }

            // &_icon {
            //     position: absolute;
            //     top: 50%;
            //     left: 15px;
            //     transform: translateY(-50%);
            // }
        }
    }

    // ---------------- filter --------------------------

    &_filter {
        width: 100%;
        display: flex;
        justify-content: space-between;
        column-gap: 16px;

        @include mobile {
            overflow-x: scroll;
            scrollbar-width: none;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }

        

        &_option {
            width: 100%;
            max-width: 500px;
            min-width: 160px;
            background-color: $white;
            padding: 12px;
            border-radius: 7px;
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            cursor: pointer;
            border: 1px solid $gray;

            @include mobile {
                flex-direction: row;
                column-gap: 8px;
                justify-content: center;

                svg {
                    width: 15px;
                }
            }

            div {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include mobile {
                    display: block;
                }

                h4 {
                    @extend %sm_b;
                    color: $black;
                }
                p {
                    @extend %s;
                    color: $light_m_gray;

                    @include mobile {
                        display: none;
                    }
                }
            }

            @include desktop {
                &:hover {
                    background-color: $main_color !important;
                    transition: all 0.2s linear;
    
                    svg {
                        path {
                            fill: $white !important;
                        }
                    }
                    
                    h4 {
                        color: $white !important;
                    }
                    p {
                        color: $white !important;
                    }
    
                }
            }

            

            
        }
    }

    // ------------------ products ----------------------------
    &_meals {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: start;
        column-gap: 16px;
        row-gap: 24px;

        @include mobile {
            grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));

        }
    }

    // ------------------ for mobile coninue -------------------
    &_continue {
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 4%;
        background-color: $light_bg_gray;

        @include desktop {
            display: none;
        }

        &_btn {
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            background-color: $main_color;
            border: 1px solid $gray;
            color: $white;
            @extend %m_b;
        }
    }
}