@import "../../../common/reUseable/variable";
@import "../../../common/reUseable/mixin";
@import "../../../common/reUseable/extend";
@import "../../../common/reUseable/theme";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0) translate(0, 0);
  }
  to {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
}

@keyframes fadeBg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.meal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.151);
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  backdrop-filter: blur(1px);
  animation: fadeBg 0.3s ease;

  @include mobile {
    padding: 3%;
  }

  &_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 20;
    animation: fadeIn 0.3s ease;
  }

  &_block {
    width: 100%;
    max-width: 630px;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    border-radius: 14px;
    padding: 26px;
    z-index: 30;
    animation: fadeIn 0.3s ease;
    position: relative;

    @include themed() {
      background-color: t(white);
      border: 1px solid t(gray);
    }

    &_head {
      width: 100%;
      @extend %ml_b;
      text-align: center;
      top: 0;
      left: 0;

      @include themed() {
        color: t(black);
      }
    }


    &_photo {
      width: 100%;
      position: relative;

      &_id {
        position: absolute;
        top: -1px;
        left: -1px;
        padding: 5px 10px;
        background-color: $white;
        color: $black;
        border-radius: 7px 0 7px 0;
        font-size: 1rem;
        font-weight: 600;
        z-index: 1;

        @include mobile {
          font-size: 0.6rem;
        }
        @include themed() {
          border-bottom: 1px solid t(gray);
          border-right: 1px solid t(gray);
        }
      }

      &_discount {
        position: absolute;
        top: 0;
        right: 1px;
        padding: 5px 10px;
        background: linear-gradient(90deg, $main_color, $main_light_color);
        color: $white;
        border-radius: 0 7px 0 7px;
        font-size: 1.3rem;
        font-weight: 600;
        z-index: 1;

        @include mobile {
          font-size: 0.8rem;
        }
        @include themed() {
          border-bottom: 1px solid t(gray);
          border-left: 1px solid t(gray);
        }
      }

      &_stock {
        position: absolute;
        bottom: -1px;
        left: -1px;
        padding: 5px 10px;
        background-color: $white;
        color: $black;
        border-radius: 0 7px 0 7px;
        font-size: 1rem;
        font-weight: 600;
        z-index: 1;

        @include mobile {
          font-size: 0.6rem;
        }
        @include themed() {
          border-top: 1px solid t(gray);
          border-right: 1px solid t(gray);
        }
      }
    }


    &_img {
      width: 100%;
      height: 100%;
      max-height: 320px;
      object-fit: cover;
      border-radius: 12px;
      // animation: fadeImg 0.3s ease;
      @include themed() {
        border: 1px solid t(gray);
      }
    }

    &_desc {
      width: 100%;
      text-align: left;
      @extend %m;

      @include themed() {
        color: t(black);
      }
    }

    &_down {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;


      &_price {
        @extend %m_b;
        @include themed() {
          color: t(black);
        }
      }

      &_btn {
        padding: 7px 25px;
        background-color: $main_color;
        border-radius: 10px;
        @extend %m_b;
        color: $white;
        user-select: none;
        cursor: pointer;
        white-space: nowrap;

        &:hover {
          background-color: $main_color_dark;
        }
      }
    }
  }
}
