@import "../../../common/reUseable/variable";
@import "../../../common/reUseable/mixin";
@import "../../../common/reUseable/extend";
@import "../../../common/reUseable/theme";

.productsItem {
    width: 100%;

    &_head {
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 7px;

        // @include mobile {
        //     max-width: 100px;
        // }

        &_name {
            max-width: 150px;
            @extend %text_overflow;
            
            @include mobile {
                width: 100%;
                max-width: 50px;
            }
        }

        &_img {
            width: 40px;
            min-width: 40px;
            height: 40px;
            object-fit: fill;
            border-radius: 50%;

            @include mobile {
                width: 30px;
                min-width: 30px;
                height: 30px;
                object-fit: fill;
                border-radius: 50%;
            }
        }
    }

  &_mobile {
    max-width: 90px;
    @extend %text_overflow;

    &_action {
        width: fit-content;
        display: flex;
        align-items: center;
        column-gap: 5px;

        @include mobile {
            column-gap: 2px;
            flex-wrap: wrap;
        }

        &_option {
            padding: 7px;
            border-radius: 8px;
            transition: background-color 0.1s ease-in-out;
            cursor: pointer;
            user-select: none;

            &:hover {
                background-color: darken(#868686a9, 30%) !important; 
            }
        }
    }
  }

  &_desktop {
    @extend %text_overflow;

    @include desktop {
        width: 110px !important;
    }
    
    @include mobile {
      display: none;
    }
  }
}