@import "../../../common/reUseable/variable";
@import "../../../common/reUseable/mixin";
@import "../../../common/reUseable/extend";

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}






.meal {
    width: 100%;
    max-width: 350px;
    background-color: $white;
    padding: 8px;
    border-radius: 7px;;
    border: 1px solid $gray;
    animation: fadeIn .8s ease-in-out;

    &:hover {
        box-shadow: 0 0 10px 0 $main_light_color;
        transition: 0.3s ease-in-out;

        .meal_photo {
            img {
                object-fit: cover;
                object-position: 50% 60%;
                transition: 0.3s ease-in-out;
            }
        }
    }



    &_photo {
        img {
            width: 100%;
            height: 156px;
            object-fit: cover;
            border-radius: 7px;
            margin: 0 auto;
        }
    }

    &_information {
        padding: 8px 8px 2px 8px;
        cursor: pointer;
        user-select: none;

        &:hover {
            h4 {
                color: $main_light_color;
                transition: 0.3s ease-in-out;
            }
        }
        
        
        h4 {
            @extend %sm_b,%text_overflow;
            margin-bottom: 6px;
        }
        p {
            @extend %s;
        }
    }

    &_count {
        width: 113px;
        display: flex;
        justify-content: space-between;
        margin: 0 5px 5px auto;

        button {
            width: 37px;
            padding: 0px 10px;
            background-color: transparent;
            border: 1px solid $gray;
            border-radius: 7px;
            @extend %ml_b;

            &:hover {
                background-color: $main_light_two;
            }
        }

        p {
            @extend %m_b;
            margin: auto 0;
        }
    }
}