@import "../reUseable/extend";
@import "../reUseable/mixin";
@import "../reUseable/variable";


.btn {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    

    @include themed() {
        background-color: t(white);
        color: t(main_color);
    }
}