@import "../../../common/reUseable/variable";
@import "../../../common/reUseable/mixin";
@import "../../../common/reUseable/extend";
@import "../../../common/reUseable/theme";

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0) translate(500% , 100%);
    }
    to {
        opacity: 1;
        transform: scale(1) translate(0 , 0);
    }
}

@keyframes fadeBg {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.view_block_main_information_item_value :hover + .view_block_main_information_item_value_payment_down {
    display: block !important;
}



.view {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.151);
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    backdrop-filter: blur(1px);
    animation: fadeBg 0.3s ease;

    @include mobile {
        padding: 3%;
    }

    &_bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 20;
        animation: fadeIn 0.3s ease;
    }

    &_block {
        width: 100%;
        max-width: 880px;
        min-width: 320px;
        background-color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        border-radius: 14px;
        border: 1px solid $gray;
        padding: 26px;
        z-index: 30;
        animation: fadeBg 0.3s ease;

        @include themed {
            background-color: t(white);
            border: 1px solid t(gray);
            color: t(black);
        }

        @include mobile {
            padding: 17px;
            row-gap: 5px;
        }

        &_head {
            width: 100%;
            @extend %ml_b;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &_exit {
                padding: 10px;
                border: 1px solid $gray;
                border-radius: 10px;
                cursor: pointer;
                transition: background-color 0.3s;

                svg {
                    path {
                        @include themed {
                            stroke: t(black);
                        }
                    }
                }

                &:hover {
                    background-color: $gray;
                    svg {
                        path {
                            stroke:black !important;
                        }
                    }
                }
            }
        }

        &_main {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include mobile {
                flex-direction: column;
                row-gap: 5px;
            }

            &_information {
                width: 100%;
                height: 247px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                row-gap: 15px;
                padding-right: 15px;


                @include themed {
                    border-right: 1px solid t(gray);
                }

                @include mobile {
                    height: 345px;
                    padding-right: 0;
                    padding-bottom: 30px;
                    border-right: none !important;
                    @include themed {
                        border-bottom: 1px solid t(gray);
                    }
                    row-gap: 4px;
                }

                &_item {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    @include mobile {
                        flex-direction: column;
                        row-gap: 2px;
                    }

                    &_head {
                        @extend %sm;

                        @include mobile {
                            width: 100%;
                        }
                    }

                    &_value {
                        min-width: 189.39px;
                        padding: 7px 27px;
                        border-radius: 10px;
                        @extend %sm_b;

                        @include themed {
                            border: 1px solid t(gray);
                        }

                        @include mobile {
                            width: 100%;
                        }

                        input {
                            @include mobile {
                                width: 100%;
                            }
                            @include themed {
                                color-scheme: t(calendar);
                            }
                        }

                        &_payment {
                            padding: 7px 27px;
                            border-radius: 10px;
                            @extend %sm;
                            font-weight: 500;
                            position: relative;
                            

                            &_head {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                column-gap: 5px;
                            }

                            &_down {
                                width: calc(100% + 2px);
                                padding: 7px 0px;
                                position: absolute;
                                display: none;
                                background-color: $white;
                                top: 0;
                                left: -1px;
                                border-radius: 10px;
                                cursor: pointer;

                                &:hover {
                                    display: block;
                                    top: -1px;
                                    @include themed {
                                        border: 1px solid t(main_color);
                                    }
                                }

                                @include themed {
                                    color: t(black);
                                    background-color: t(white);
                                }

                                div {
                                    width: 100%;
                                    padding: 0 27px;
                                    border-radius: 5px;
                                    &:hover {
                                        @include themed {
                                            color: t(main_color);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &_menu {
                width: 100%;
                height: 207px;
                padding-left: 15px;
                display: flex;
                flex-direction: column;
                row-gap: 17px;

                @include mobile {
                    height: 175px;
                    padding-left: 0;
                    padding: 10px 0 10px 0px;
                    row-gap: 10px;
                }

                &_head {
                    width: 100%;
                    padding-right: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    @extend %sm_b;

                    &_count {
                        @extend %sm;
                    }
                }

                &_container {
                    width: 100%;
                    overflow-y: scroll;
                    padding-bottom: 2px;

                    &_list {
                        padding-right: 5px;
                        display: flex;
                        flex-direction: column;
                        row-gap: 10px;

                        &_item {
                            width: 100%;
                            padding: 10px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-radius: 7px;

                            @include themed {
                                border: 1px solid t(gray);
                            }

                            &_img {
                                img {
                                    width: 58px;
                                    height: 48px;
                                    object-fit: fill;
                                    border-radius: 6px;
                                }
                            }

                            &_head {
                                width: 100%;
                                text-align: left;
                                padding: 0 10px;
                                @extend %sm_b;
                                display: flex;
                                flex-direction: column;
                                row-gap: 10px;

                                &_up {
                                    width: 100%;
                                }

                                &_actions {
                                    width: 100%;
                                    display: flex;
                                    justify-content: start;
                                    align-items: center;
                                    column-gap: 8px;
                                    
                                    &_btn {
                                        padding: 0 8px;
                                        border: 1px solid $gray;
                                        border-radius: 7px;
                                        @extend %sm_b;
                                        cursor: pointer;
                                        user-select: none;

                                        &:hover {
                                            background-color: $main_light_two;
                                            color: $main_color_dark;
                                        }
                                    }

                                    // &_count {

                                    // }
                                }
                            }

                            &_price {
                                height: 50px;
                                @extend %sm;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                row-gap: 10px;

                                &_trash {
                                    cursor: pointer;
                                    svg {
                                        width: 16px;
                                        height: 16px;
                                        margin-left: auto;
                                    }
                                }

                                &_num {
                                    line-height: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &_actions {
            width: 100%;
            @extend %m;
            display: flex;
            justify-content: end;
            column-gap: 10px;
            padding-top: 20px;

            @include themed {
                border-top: 1px solid t(gray);
            }

            @include mobile {
                padding-top: 10px;
            }

            &_print {
                width: 140px;
                background-color: $main_light_color;
                color: $white;

                &:hover {
                    background-color: $main_color_dark !important;
                }
            }
            
            &_option {
                width: 140px;
                padding: 8px 10px;
                border: 1px solid $gray;
                border-radius: 10px;
                text-align: center;
                user-select: none;
                cursor: pointer;
                @extend %text_overflow;
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 5px;

                svg {
                    max-width: 15px;
                }

                &:hover {
                    border: 1px solid $main_light_color;
                }
            }
        }
    }
}