@import "../../../common/reUseable/variable";
@import "../../../common/reUseable/mixin";
@import "../../../common/reUseable/extend";
@import "../../../common/reUseable/theme";


.overflow {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    background-color: $light_bg_gray;
    overflow-y:scroll; 
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.overflow::-webkit-scrollbar {
    display: none;
}

.main {
    text-align: center;
}