@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import './components/common/reUseable/mixin';
@import './components/common/reUseable/variable';
@import './components/common/reUseable/extend';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
